# Ignore Node.js modules
node_modules/

# Ignore the entire /src/db/ directory
/src/db/*

# Ignore a specific file in the /src/db/ directory
/src/db/conn.js

# Ignore package lock files
package-lock.json

# Ignore the /uploads directory
/public/uploads/
