<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
   {{>FrontEnd/headerLink}}
</head>
<body>
  {{> FrontEnd/navbar}}

  <!-- partial -->
  <div class="sigma_subheader dark-overlay dark-overlay-2" style="background-image: url(assets/img/subheader.jpg)">

    <div class="container">
      <div class="sigma_subheader-inner">
        <div class="sigma_subheader-text">
          <h1>{{message}}</h1>
        </div>
      </div>
    </div>

  </div>
  <!-- partial -->

 <div class="section section-padding">
        <div class="container">
          <div class="section-title text-center">
            <h4 class="title">{{message}}</h4>
          </div>
        </div>
    </div>

 {{>FrontEnd/footer}}
  {{>FrontEnd/footerLink}}

</body>
</html>
