<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>

{{>FrontEnd/headerLink}}

</head>

<body>
  {{>FrontEnd/navbar}}

  <!-- partial -->
  <div class="sigma_subheader dark-overlay dark-overlay-2" style="background-image: url(assets/img/subheader.jpg)">

    <div class="container">
      <div class="sigma_subheader-inner">
        <div class="sigma_subheader-text">
          <h1>Broadcast</h1>
        </div>
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a class="btn-link" href="/">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">Broadcast</li>
          </ol>
        </nav>
      </div>
    </div>

  </div>
  <!-- partial -->

<!-- Broadcast Start -->
  <div class="section section-padding">
    <div class="container">
      <div class="section-title text-center">
        <p class="subtitle">Watch Video</p>
        <h4 class="title">Our Live Broadcast</h4>
      </div>
      <div class="row sigma_broadcast-video">
        <div class="col-12 mb-5">
          <div class="row g-0 align-items-center">
            <div class="col-lg-6">
              <div class="sigma_video-popup-wrap">
                <img src="assets/img/video-gallery/01.png" alt="video">
                <a href="https://www.youtube.com/watch?v=TKnufs85hXk" class="sigma_video-popup popup-youtube">
                  <i class="fas fa-play"></i>
                </a>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="sigma_box m-0">
                <p class="custom-primary mb-0 fw-600 fs-16">Aug 12, 2022</p>
                <h4 class="title">Serving the needs of the Hindu Community</h4>
                <p class="m-0"> We are a Hindu that belives in Lord Rama and Vishnu Deva the followers and We are a Hindu that belives in Lord Rama and Vishnu Deva. This is where you should start Temple is place where hindu worship  consectetur adipisicing elit, sed do Temple is place where hindu worship  consectetur adipisicing elit, sed do This is where you should start Lorem ipsum dolor sit amet consectetur</p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-sm-6 mb-30">
          <div class="sigma_video-popup-wrap">
            <img src="assets/img/video-gallery/1.png" alt="video">
            <a href="https://www.youtube.com/watch?v=TKnufs85hXk" class="sigma_video-popup popup-sm popup-youtube">
              <i class="fas fa-play"></i>
            </a>
          </div>
          <h6 class="mb-0 mt-3">Varansi at Night</h6>
        </div>
        <div class="col-lg-3 col-sm-6 mb-30">
          <div class="sigma_video-popup-wrap">
            <img src="assets/img/video-gallery/2.jpg" alt="video">
            <a href="https://www.youtube.com/watch?v=TKnufs85hXk" class="sigma_video-popup popup-sm popup-youtube">
              <i class="fas fa-play"></i>
            </a>
          </div>
          <h6 class="mb-0 mt-3">Chaar Dhaam Yatra</h6>
        </div>
        <div class="col-lg-3 col-sm-6 mb-30">
          <div class="sigma_video-popup-wrap">
            <img src="assets/img/video-gallery/3.jpg" alt="video">
            <a href="https://www.youtube.com/watch?v=TKnufs85hXk" class="sigma_video-popup popup-sm popup-youtube">
              <i class="fas fa-play"></i>
            </a>
          </div>
          <h6 class="mb-0 mt-3">Mahashivratri Temple</h6>
        </div>
        <div class="col-lg-3 col-sm-6 mb-30">
          <div class="sigma_video-popup-wrap">
            <img src="assets/img/video-gallery/4.jpg" alt="video">
            <a href="https://www.youtube.com/watch?v=TKnufs85hXk" class="sigma_video-popup popup-sm popup-youtube">
              <i class="fas fa-play"></i>
            </a>
          </div>
          <h6 class="mb-0 mt-3">OM Mahashivratri</h6>
        </div>
      </div>
    </div>
  </div>
  <!-- Broadcast End -->

  <!-- Blog Start -->
  <div class="section section-padding pt-0">
    <div class="container">

      <div class="section-title text-center">
        <p class="subtitle">Blog</p>
        <h4 class="title">News Feed</h4>
      </div>

      <div class="row">

        <!-- Article Start -->
        <div class="col-lg-4 col-md-6">
          <article class="sigma_post">
            <div class="sigma_post-thumb">
              <a href="blog-details">
                <img src="assets/img/blog/2.jpg" alt="post">
              </a>
            </div>
            <div class="sigma_post-body">
              <div class="sigma_post-meta">
                <div class="me-3">
                  <i class="fas fa-om"></i>
                  <a href="blog-details" class="sigma_post-category">Temple</a>,
                  <a href="blog-details" class="sigma_post-category">Love</a>
                </div>
                <a href="blog-details" class="sigma_post-date"> <i class="far fa-calendar"></i> May 20, 2022</a>
              </div>
              <h5> <a href="blog-details">Education for all rural children are necessary.</a> </h5>
              <div class="sigma_post-single-author">
                <img src="assets/img/people/1.jpg" alt="author">
                <div class="sigma_post-single-author-content">
                  By <p>Yesh Chopra</p>
                </div>
              </div>
            </div>
          </article>
        </div>
        <!-- Article End -->

        <!-- Article Start -->
        <div class="col-lg-4 col-md-6">
          <article class="sigma_post">
            <div class="sigma_post-thumb">
              <a href="blog-details">
                <img src="assets/img/blog/1.jpg" alt="post">
              </a>
            </div>
            <div class="sigma_post-body">
              <div class="sigma_post-meta">
                <div class="me-3">
                  <i class="fas fa-om"></i>
                  <a href="blog-details" class="sigma_post-category">Temple</a>,
                  <a href="blog-details" class="sigma_post-category">Love</a>
                </div>
                <a href="blog-details" class="sigma_post-date"> <i class="far fa-calendar"></i> May 20, 2022</a>
              </div>
              <h5> <a href="blog-details">Education for all rural children are necessary.</a> </h5>
              <div class="sigma_post-single-author">
                <img src="assets/img/people/2.jpg" alt="author">
                <div class="sigma_post-single-author-content">
                  By <p>Yesh Chopra</p>
                </div>
              </div>
            </div>
          </article>
        </div>
        <!-- Article End -->

        <!-- Article Start -->
        <div class="col-lg-4 col-md-6">
          <article class="sigma_post">
            <div class="sigma_post-thumb">
              <a href="blog-details">
                <img src="assets/img/blog/3.jpg" alt="post">
              </a>
            </div>
            <div class="sigma_post-body">
              <div class="sigma_post-meta">
                <div class="me-3">
                  <i class="fas fa-om"></i>
                  <a href="blog-details" class="sigma_post-category">Temple</a>,
                  <a href="blog-details" class="sigma_post-category">Love</a>
                </div>
                <a href="blog-details" class="sigma_post-date"> <i class="far fa-calendar"></i> May 20, 2022</a>
              </div>
              <h5> <a href="blog-details">Education for all rural children are necessary.</a> </h5>
              <div class="sigma_post-single-author">
                <img src="assets/img/people/1.jpg" alt="author">
                <div class="sigma_post-single-author-content">
                  By <p>Yesh Chopra</p>
                </div>
              </div>
            </div>
          </article>
        </div>
        <!-- Article End -->

      </div>

    </div>
  </div>
  <!-- Blog End -->

  {{>FrontEnd/footer}}
  {{>FrontEnd/footerLink}}
</body>
</html>
