<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
{{>FrontEnd/headerLink}}
</head>

<body>
  {{>FrontEnd/navbar}}

  <!-- partial-->
  <div class="sigma_subheader dark-overlay dark-overlay-2" style="background-image: url(assets/img/subheader.jpg)">

    <div class="container">
      <div class="sigma_subheader-inner">
        <div class="sigma_subheader-text">
          <h1>Event</h1>
        </div>
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a class="btn-link" href="/">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">Event</li>
          </ol>
        </nav>
      </div>
    </div>

  </div>
  <!-- partial -->

  <div class="section">
    <div class="container">

      <div class="row">

        <div class="col-lg-8">

          <!-- Article Start -->
          <article class="sigma_post sigma_post-list event-list">
            <div class="sigma_post-thumb">
              <a href="event-details">
                <img src="assets/img/events/1.jpg" alt="post">
              </a>
              <div class="event-date-wrapper">
                <span>20</span>
                Aug'21
              </div>
            </div>
            <div class="sigma_post-body">
              <h5> <a href="event-details">People ask questions related to Hinduism</a> </h5>
              <p>You should be able to find several indispensable facts about motivation in the following paragraphs. If there’s at least one fact you didn’t know before, imagine the difference it might make. It’s so difficult to go on when
                everything seems to fail, isn’t it.</p>
                <div class="sigma_post-meta">
                  <a href="event-details"> <i class="far fa-clock"></i> Sunday (8:00 am -9:00 am)</a>
                  <a href="event-details"> <i class="far fa-map-marker-alt"></i> 56 Thatcher Avenue River Forest</a>
                </div>

                <div class="section-button d-flex align-items-center">
                  <a href="event-details" class="sigma_btn-custom">Join Now <i class="far fa-arrow-right"></i> </a>
                </div>

            </div>
          </article>
          <!-- Article End -->

          <!-- Article Start -->
          <article class="sigma_post sigma_post-list event-list">
            <div class="sigma_post-thumb">
              <a href="event-details">
                <img src="assets/img/events/2.jpg" alt="post">
              </a>
              <div class="event-date-wrapper">
                <span>16</span>
                Sep'21
              </div>
            </div>
            <div class="sigma_post-body">
              <h5> <a href="event-details">Temple is a place where Hindu worship</a> </h5>
              <p>You should be able to find several indispensable facts about motivation in the following paragraphs. If there’s at least one fact you didn’t know before, imagine the difference it might make. It’s so difficult to go on when
                everything seems to fail, isn’t it.</p>
                <div class="sigma_post-meta">
                  <a href="event-details"> <i class="far fa-clock"></i> Sunday (8:00 am -9:00 am)</a>
                  <a href="event-details"> <i class="far fa-map-marker-alt"></i> 56 Thatcher Avenue River Forest</a>
                </div>

                <div class="section-button d-flex align-items-center">
                  <a href="event-details" class="sigma_btn-custom">Join Now <i class="far fa-arrow-right"></i> </a>
                </div>

            </div>
          </article>
          <!-- Article End -->

          <!-- Article Start -->
          <article class="sigma_post sigma_post-list event-list">
            <div class="sigma_post-thumb">
              <a href="event-details">
                <img src="assets/img/events/3.jpg" alt="post">
              </a>
              <div class="event-date-wrapper">
                <span>20</span>
                Aug'21
              </div>
            </div>
            <div class="sigma_post-body">
              <h5> <a href="event-details">Should I Believe in Rebirth?</a> </h5>
              <p>You should be able to find several indispensable facts about motivation in the following paragraphs. If there’s at least one fact you didn’t know before, imagine the difference it might make. It’s so difficult to go on when
                everything seems to fail, isn’t it.</p>
                <div class="sigma_post-meta">
                  <a href="event-details"> <i class="far fa-clock"></i> Sunday (8:00 am -9:00 am)</a>
                  <a href="event-details"> <i class="far fa-map-marker-alt"></i> 56 Thatcher Avenue River Forest</a>
                </div>

                <div class="section-button d-flex align-items-center">
                  <a href="event-details" class="sigma_btn-custom">Join Now <i class="far fa-arrow-right"></i> </a>
                </div>

            </div>
          </article>
          <!-- Article End -->

          <!-- Article Start -->
          <article class="sigma_post sigma_post-list event-list">
            <div class="sigma_post-thumb">
              <a href="event-details">
                <img src="assets/img/events/4.jpg" alt="post">
              </a>
              <div class="event-date-wrapper">
                <span>20</span>
                Apr'21
              </div>
            </div>
            <div class="sigma_post-body">
              <h5> <a href="event-details">Serving the needs of the Hindu Community is untram.</a> </h5>
              <p>You should be able to find several indispensable facts about motivation in the following paragraphs. If there’s at least one fact you didn’t know before, imagine the difference it might make. It’s so difficult to go on when
                everything seems to fail, isn’t it.</p>
                <div class="sigma_post-meta">
                  <a href="event-details"> <i class="far fa-clock"></i> Sunday (8:00 am -9:00 am)</a>
                  <a href="event-details"> <i class="far fa-map-marker-alt"></i> 56 Thatcher Avenue River Forest</a>
                </div>

                <div class="section-button d-flex align-items-center">
                  <a href="event-details" class="sigma_btn-custom">Join Now <i class="far fa-arrow-right"></i> </a>
                </div>

            </div>
          </article>
          <!-- Article End -->
          <!-- Article Start -->
          <article class="sigma_post sigma_post-list event-list">
            <div class="sigma_post-thumb">
              <a href="event-details">
                <img src="assets/img/events/2.jpg" alt="post">
              </a>
              <div class="event-date-wrapper">
                <span>18</span>
                June'21
              </div>
            </div>
            <div class="sigma_post-body">
              <h5> <a href="event-details">Some Hindu teachers insist that believing in rebirth</a> </h5>
              <p>You should be able to find several indispensable facts about motivation in the following paragraphs. If there’s at least one fact you didn’t know before, imagine the difference it might make. It’s so difficult to go on when
                everything seems to fail, isn’t it.</p>
                <div class="sigma_post-meta">
                  <a href="event-details"> <i class="far fa-clock"></i> Sunday (8:00 am -9:00 am)</a>
                  <a href="event-details"> <i class="far fa-map-marker-alt"></i> 56 Thatcher Avenue River Forest</a>
                </div>

                <div class="section-button d-flex align-items-center">
                  <a href="event-details" class="sigma_btn-custom">Join Now <i class="far fa-arrow-right"></i> </a>
                </div>

            </div>
          </article>
          <!-- Article End -->

          <!-- Pagination Start -->
          <ul class="pagination mb-0">
            <li class="page-item"><a class="page-link" href="#"> <i class="far fa-chevron-left"></i> </a></li>
            <li class="page-item"><a class="page-link" href="#">1</a></li>
            <li class="page-item active">
              <a class="page-link" href="#">2 <span class="sr-only">(current)</span></a>
            </li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item"><a class="page-link" href="#"> <i class="far fa-chevron-right"></i> </a></li>
          </ul>
          <!-- Pagination End -->

        </div>

        <div class="col-lg-4">
          <div class="sidebar">

            <!-- About Author Start -->
            <div class="sidebar-widget widget-about-author">
              <h5 class="widget-title">About Me</h5>
              <div class="widget-about-author-inner">
                <img src="assets/img/blog/author.jpg" alt="author">
                <h5>Rosalina D. Willaimson</h5>
                <p>"Praesent sapien massa, convallis a pellentesque nec, egestas non nisi. Donec sollicitudin molestie malesuada. Mauris blandit aliquet elit"</p>
                <ul class="sigma_sm">
                  <li>
                    <a href="#">
                      <i class="fab fa-facebook-f"></i>
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <i class="fab fa-linkedin-in"></i>
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <i class="fab fa-twitter"></i>
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <i class="fab fa-youtube"></i>
                    </a>
                  </li>
                </ul>
              </div>
            </div>
            <!-- About Author End -->

            <!-- Search Widget Start -->
            <div class="sidebar-widget widget-search">
              <h5 class="widget-title">Search</h5>
              <form method="post">
                <div class="sigma_search-adv-input">
                  <input type="text" class="form-control" placeholder="Search Posts" name="search" value="">
                  <button type="submit" name="button"><i class="fa fa-search"></i></button>
                </div>
              </form>
            </div>
            <!-- Search Widget End -->

            <!-- Popular Feed Start -->
            <div class="sidebar-widget widget-recent-posts">
              <h5 class="widget-title">Recent Posts</h5>
              <article class="sigma_recent-post">
                <a href="blog-details"><img src="assets/img/blog/md/1.jpg" alt="post"></a>
                <div class="sigma_recent-post-body">
                  <h6> <a href="blog-details">As we've all discovered by now, the world can change</a> </h6>
                  <a href="blog-details"> <i class="far fa-calendar"></i> May 20, 2022</a>
                </div>
              </article>
              <article class="sigma_recent-post">
                <a href="blog-details"><img src="assets/img/blog/md/2.jpg" alt="post"></a>
                <div class="sigma_recent-post-body">
                  <h6> <a href="blog-details">Testimony love offering so blessed</a> </h6>
                  <a href="blog-details"> <i class="far fa-calendar"></i> May 20, 2022</a>
                </div>
              </article>
              <article class="sigma_recent-post">
                <a href="blog-details"><img src="assets/img/blog/md/3.jpg" alt="post"></a>
                <div class="sigma_recent-post-body">
                  <h6> <a href="blog-details">As we've all discovered by now, the world can change</a> </h6>
                  <a href="blog-details"> <i class="far fa-calendar"></i> May 20, 2022</a>
                </div>
              </article>
            </div>
            <!-- Popular Feed End -->

            <!-- Categories Start -->
            <div class="sidebar-widget widget-categories">
              <h5 class="widget-title"> Our Categories </h5>
              <ul class="sidebar-widget-list">
                <li> <a href="#"> Avatars <span>32</span> </a> </li>
                <li> <a href="#"> Festivals <span>22</span> </a> </li>
                <li> <a href="#"> Mahabharat <span>17</span> </a> </li>
                <li> <a href="#"> Mythology <span>05</span> </a> </li>
                <li> <a href="#"> Religion <span>32</span> </a> </li>
                <li> <a href="#"> Uncategorized <span>12</span> </a> </li>
                <li> <a href="#"> Ramayan <span>42</span> </a> </li>
                <li> <a href="#"> Bhagwat Gita <span>04</span> </a> </li>
              </ul>

            </div>
            <!-- Categories End -->

            <!-- Social Media Start -->
            <div class="sidebar-widget">
              <h5 class="widget-title">Never Miss Out</h5>
              <ul class="sigma_sm square light">
                <li>
                  <a href="#">
                    <i class="fab fa-facebook-f"></i>
                  </a>
                </li>
                <li>
                  <a href="#">
                    <i class="fab fa-linkedin-in"></i>
                  </a>
                </li>
                <li>
                  <a href="#">
                    <i class="fab fa-twitter"></i>
                  </a>
                </li>
                <li>
                  <a href="#">
                    <i class="fab fa-youtube"></i>
                  </a>
                </li>
              </ul>
            </div>
            <!-- Social Media End -->

            <!-- Twitter Feed Start -->
            <div class="sidebar-widget widget-twitter">
              <h5 class="widget-title">Twitter Feed</h5>
              <div class="twitter-item d-flex align-items-start">
                <i class="fab fa-twitter custom-primary me-4 mt-2"></i>
                <div class="twitter-item-content">
                  <p>Rescue - #Gutenberg ready @ HTML Template for Creative Bloggers available on @Themeforest https://t.co/2r1POkkgVC ... </p>
                  <strong>November 25, 2022</strong>
                </div>
              </div>
              <div class="twitter-item d-flex align-items-start">
                <i class="fab fa-twitter custom-primary me-4 mt-2"></i>
                <div class="twitter-item-content">
                  <p>Rescue - #Gutenberg ready @ HTML Template for Creative Bloggers available on @Themeforest https://t.co/2r1POkkgVC ... </p>
                  <strong>November 25, 2022</strong>
                </div>
              </div>
              <div class="twitter-item d-flex align-items-start">
                <i class="fab fa-twitter custom-primary me-4 mt-2"></i>
                <div class="twitter-item-content">
                  <p>Rescue - #Gutenberg ready @ HTML Template for Creative Bloggers available on @Themeforest https://t.co/2r1POkkgVC ... </p>
                  <strong>November 25, 2022</strong>
                </div>
              </div>
            </div>
            <!-- Twitter Feed End -->

            <!-- Instagram Start -->
            <div class="sidebar-widget widget-ig">
              <h5 class="widget-title">Instagram</h5>
              <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-4 col-6">
                  <a href="#" class="sigma_ig-item">
                    <img src="assets/img/ig/1.jpg" alt="ig">
                  </a>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-6">
                  <a href="#" class="sigma_ig-item">
                    <img src="assets/img/ig/2.jpg" alt="ig">
                  </a>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-6">
                  <a href="#" class="sigma_ig-item">
                    <img src="assets/img/ig/3.jpg" alt="ig">
                  </a>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-6">
                  <a href="#" class="sigma_ig-item">
                    <img src="assets/img/ig/4.jpg" alt="ig">
                  </a>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-6">
                  <a href="#" class="sigma_ig-item">
                    <img src="assets/img/ig/5.jpg" alt="ig">
                  </a>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-6">
                  <a href="#" class="sigma_ig-item">
                    <img src="assets/img/ig/6.jpg" alt="ig">
                  </a>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-6">
                  <a href="#" class="sigma_ig-item">
                    <img src="assets/img/ig/7.jpg" alt="ig">
                  </a>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-6">
                  <a href="#" class="sigma_ig-item">
                    <img src="assets/img/ig/8.jpg" alt="ig">
                  </a>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-6">
                  <a href="#" class="sigma_ig-item">
                    <img src="assets/img/ig/9.jpg" alt="ig">
                  </a>
                </div>
              </div>
            </div>
            <!-- Instagram End -->

            <!-- Popular Tags Start -->
            <div class="sidebar-widget">
              <h5 class="widget-title">Popular Tags</h5>
              <div class="tagcloud">
                <a href="#">Isabella</a>
                <a href="#">Samantha</a>
                <a href="#">Emily</a>
                <a href="#">June</a>
                <a href="#">Grace</a>
                <a href="#">Madison</a>
                <a href="#">Heather</a>
                <a href="#">Micheal</a>
              </div>
            </div>
            <!-- Popular Tags End -->

            <!-- Ad banner Start -->
            <div class="sidebar-widget widget-ad p-0 border-0">
              <a href="#">
                <img src="assets/img/blog/ad.jpg" alt="ad">
                <div>
                  <span>Add a Custom Text</span>
                  Add Banner here
                </div>
              </a>
            </div>
            <!-- Ad banner End -->

          </div>
        </div>

      </div>

    </div>
  </div>

   {{>FrontEnd/footer}}
   {{>FrontEnd/footerLink}}

</body>
</html>
