<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
{{>FrontEnd/headerLink}}
</head>

<body>
  {{>FrontEnd/navbar}}

  <!-- partial -->
  <div class="sigma_subheader dark-overlay dark-overlay-2" style="background-image: url(assets/img/subheader.jpg)">

    <div class="container">
      <div class="sigma_subheader-inner">
        <div class="sigma_subheader-text">
          <h1>FAQ</h1>
        </div>
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a class="btn-link" href="/">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">FAQ</li>
          </ol>
        </nav>
      </div>
    </div>

  </div>
  <!-- partial -->

  <!-- Categories Start -->
  <div class="section">
    <div class="container">
      <div class="row">
        <div class="col-lg-6">
          <div class="accordion with-gap" id="generalFAQExample">
            <div class="card">
              <div class="card-header" data-bs-toggle="collapse" role="button" data-bs-target="#generalOne" aria-expanded="true" aria-controls="generalOne">
                What is a Temple?
              </div>

              <div id="generalOne" class="collapse show" data-bs-parent="#generalFAQExample">
                <div class="card-body">
                  Temple is a place where Hindu worship our Bhagwan Ram, Shiva, Vishnu, Krishna etc. Proin eget tortor risus. Vivamus magna justo, .People ask questions related to Hinduism
                </div>
              </div>
            </div>
            <div class="card">
              <div class="card-header" data-bs-toggle="collapse" role="button" data-bs-target="#generalTwo" aria-expanded="false" aria-controls="generalTwo">
                Getting Started with an Temple
              </div>

              <div id="generalTwo" class="collapse" data-bs-parent="#generalFAQExample">
                <div class="card-body">
                  Temple is a place where Hindu worship our Bhagwan Ram, Shiva, Vishnu, Krishna etc. Proin eget tortor risus. Vivamus magna justo, .People ask questions related to Hinduism
                </div>
              </div>
            </div>
            <div class="card">
              <div class="card-header" data-bs-toggle="collapse" role="button" data-bs-target="#generalThree" aria-expanded="false" aria-controls="generalThree">
                Do i have the latest version?
              </div>

              <div id="generalThree" class="collapse" data-bs-parent="#generalFAQExample">
                <div class="card-body">
                  Temple is a place where Hindu worship our Bhagwan Ram, Shiva, Vishnu, Krishna etc. Proin eget tortor risus. Vivamus magna justo, .People ask questions related to Hinduism
                </div>
              </div>
            </div>
            <div class="card">
              <div class="card-header" data-bs-toggle="collapse" role="button" data-bs-target="#generalSeven" aria-expanded="false" aria-controls="generalSeven">
                How can I change header
              </div>

              <div id="generalSeven" class="collapse" data-bs-parent="#generalFAQExample">
                <div class="card-body">
                  Temple is a place where Hindu worship our Bhagwan Ram, Shiva, Vishnu, Krishna etc. Proin eget tortor risus. Vivamus magna justo, .People ask questions related to Hinduism
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="accordion with-gap" id="generalFAQExample2">
            <div class="card">
              <div class="card-header" data-bs-toggle="collapse" role="button" data-bs-target="#generalFour" aria-expanded="true" aria-controls="generalFour">
                How many times can I use a Temple?
              </div>

              <div id="generalFour" class="collapse show" data-bs-parent="#generalFAQExample2">
                <div class="card-body">
                  Temple is a place where Hindu worship our Bhagwan Ram, Shiva, Vishnu, Krishna etc. Proin eget tortor risus. Vivamus magna justo, .People ask questions related to Hinduism
                </div>
              </div>
            </div>
            <div class="card">
              <div class="card-header" data-bs-toggle="collapse" role="button" data-bs-target="#generalFive" aria-expanded="false" aria-controls="generalFive">
                How to migrate my website?
              </div>

              <div id="generalFive" class="collapse" data-bs-parent="#generalFAQExample2">
                <div class="card-body">
                  Temple is a place where Hindu worship our Bhagwan Ram, Shiva, Vishnu, Krishna etc. Proin eget tortor risus. Vivamus magna justo, .People ask questions related to Hinduism
                </div>
              </div>
            </div>
            <div class="card">
              <div class="card-header" data-bs-toggle="collapse" role="button" data-bs-target="#generalSix" aria-expanded="false" aria-controls="generalSix">
                How to migrate my website?
              </div>

              <div id="generalSix" class="collapse" data-bs-parent="#generalFAQExample2">
                <div class="card-body">
                  Temple is a place where Hindu worship our Bhagwan Ram, Shiva, Vishnu, Krishna etc. Proin eget tortor risus. Vivamus magna justo, .People ask questions related to Hinduism
                </div>
              </div>
            </div>
            <div class="card">
              <div class="card-header" data-bs-toggle="collapse" role="button" data-bs-target="#generalEight" aria-expanded="false" aria-controls="generalEight">
                Changing the site footer
              </div>

              <div id="generalEight" class="collapse" data-bs-parent="#generalFAQExample2">
                <div class="card-body">
                  Temple is a place where Hindu worship our Bhagwan Ram, Shiva, Vishnu, Krishna etc. Proin eget tortor risus. Vivamus magna justo, .People ask questions related to Hinduism
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Categories End -->

  <!-- Form Start -->
  <div class="section dark-overlay dark-overlay-3 bg-cover bg-center bg-norepeat" style="background-image: url(assets/img/bg4.jpg)">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-6 mb-lg-30">
          <form method="post">
            <div class="form-row">
              <div class="col-lg-6">
                <div class="form-group">
                  <i class="far fa-user"></i>
                  <input type="text" class="form-control transparent" placeholder="First Name" name="fname" value="">
                </div>
              </div>
              <div class="col-lg-6">
                <div class="form-group">
                  <i class="far fa-user"></i>
                  <input type="text" class="form-control transparent" placeholder="Last Name" name="lname" value="">
                </div>
              </div>
              <div class="col-lg-6">
                <div class="form-group">
                  <i class="far fa-pencil"></i>
                  <input type="text" class="form-control transparent" placeholder="Subject" name="subject" value="">
                </div>
              </div>
              <div class="col-lg-6">
                <div class="form-group">
                  <i class="far fa-envelope"></i>
                  <input type="text" class="form-control transparent" placeholder="Email Address" name="email" value="">
                </div>
              </div>
              <div class="col-lg-12">
                <div class="form-group">
                  <textarea name="message" class="form-control transparent" placeholder="Enter Message" rows="4"></textarea>
                </div>
              </div>
              <div class="col-lg-12">
                <button type="submit" class="sigma_btn-custom d-block w-100" name="button"> Get a Quote <i class="far fa-arrow-right"></i> </button>
              </div>
            </div>
          </form>
        </div>
        <div class="col-lg-6">
          <div class="row">
            <div class="col-lg-6">
              <div class="sigma_client">
                <img src="assets/img/clients/1.png" alt="client">
              </div>
            </div>
            <div class="col-lg-6">
              <div class="sigma_client">
                <img src="assets/img/clients/2.png" alt="client">
              </div>
            </div>
            <div class="col-lg-6">
              <div class="sigma_client">
                <img src="assets/img/clients/3.png" alt="client">
              </div>
            </div>
            <div class="col-lg-6">
              <div class="sigma_client">
                <img src="assets/img/clients/4.png" alt="client">
              </div>
            </div>
            <div class="col-lg-6">
              <div class="sigma_client">
                <img src="assets/img/clients/5.png" alt="client">
              </div>
            </div>
            <div class="col-lg-6">
              <div class="sigma_client">
                <img src="assets/img/clients/6.png" alt="client">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Form End -->

  {{>FrontEnd/footer}}
  {{>FrontEnd/footerLink}}
</body>
</html>
