<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>

  {{>FrontEnd/headerLink}}
</head>

<body>
  {{>FrontEnd/navbar}}

  <!-- partial -->
  <div class="sigma_subheader dark-overlay dark-overlay-2" style="background-image: url(assets/img/subheader.jpg)">

    <div class="container">
      <div class="sigma_subheader-inner">
        <div class="sigma_subheader-text">
          <h1>Holi</h1>
        </div>
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a class="btn-link" href="/">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">Holi</li>
          </ol>
        </nav>
      </div>
    </div>

  </div>
  <!-- partial -->

  <!-- Services Start -->
  <div class="section section-padding">
    <div class="container">
      <div class="row">
        <div class="col-lg-6">
          <div class="sigma_sermon-box">
            <div class="sigma_sermon-image">
              <img src="assets/img/holi/1.jpg" alt="holi">
            </div>
            <div class="sigma_box">
              <span class="subtitle">Latest Holis</span>
              <h4 class="title mb-0">
                <a href="holi-details">Holi- The Colour Festival</a>
              </h4>
              <ul class="sigma_sermon-info mb-0">
                <li>
                  <i class="far fa-user"></i>
                  Message From
                  <a href="#" class="ms-2"><u>Yeshvant Parsad</u></a>
                </li>
                <li  class="mt-0 ms-4">
                  <i class="far fa-calendar-check"></i>
                  Aug 12, 2022
                </li>
              </ul>
              <ul class="sigma_sm square">
                <li>
                  <a href="#">
                    <i class="fas fa-music"></i>
                  </a>
                </li>
                <li>
                  <a href="#">
                    <i class="fab fa-youtube"></i>
                  </a>
                </li>
                <li>
                  <a href="#">
                    <i class="far fa-file-pdf"></i>
                  </a>
                </li>
                <li>
                  <a href="#">
                    <i class="fas fa-share-alt"></i>
                  </a>
                </li>
              </ul>
              </div>
            </div>
        </div>
        <div class="col-lg-6">
          <div class="sigma_sermon-box">
            <div class="sigma_sermon-image">
              <img src="assets/img/holi/2.jpg" alt="holi">
            </div>
            <div class="sigma_box">
              <span class="subtitle">Chaar Dhaam</span>
              <h4 class="title mb-0">
                <a href="holi-details">Chaar Dhaam Yatra</a>
              </h4>
              <ul class="sigma_sermon-info mb-0">
                <li>
                  <i class="far fa-user"></i>
                  Message From
                  <a href="#" class="ms-2"><u>Yeshvant Parsad</u></a>
                </li>
                <li  class="mt-0 ms-4">
                  <i class="far fa-calendar-check"></i>
                  Aug 12, 2022
                </li>
              </ul>
              <ul class="sigma_sm square">
                <li>
                  <a href="#">
                    <i class="fas fa-music"></i>
                  </a>
                </li>
                <li>
                  <a href="#">
                    <i class="fab fa-youtube"></i>
                  </a>
                </li>
                <li>
                  <a href="#">
                    <i class="far fa-file-pdf"></i>
                  </a>
                </li>
                <li>
                  <a href="#">
                    <i class="fas fa-share-alt"></i>
                  </a>
                </li>
              </ul>
              </div>
            </div>
        </div>
        <div class="col-lg-6">
          <div class="sigma_sermon-box">
            <div class="sigma_sermon-image">
              <img src="assets/img/holi/3.jpg" alt="holi">
            </div>
            <div class="sigma_box">
              <span class="subtitle">Diwali</span>
              <h4 class="title mb-0">
                <a href="holi-details">Deepawali</a>
              </h4>
              <ul class="sigma_sermon-info mb-0">
                <li>
                  <i class="far fa-user"></i>
                  Message From
                  <a href="#" class="ms-2"><u>Yeshvant Parsad</u></a>
                </li>
                <li  class="mt-0 ms-4">
                  <i class="far fa-calendar-check"></i>
                  Aug 12, 2022
                </li>
              </ul>
              <ul class="sigma_sm square">
                <li>
                  <a href="#">
                    <i class="fas fa-music"></i>
                  </a>
                </li>
                <li>
                  <a href="#">
                    <i class="fab fa-youtube"></i>
                  </a>
                </li>
                <li>
                  <a href="#">
                    <i class="far fa-file-pdf"></i>
                  </a>
                </li>
                <li>
                  <a href="#">
                    <i class="fas fa-share-alt"></i>
                  </a>
                </li>
              </ul>
              </div>
            </div>
        </div>
        <div class="col-lg-6">
          <div class="sigma_sermon-box">
            <div class="sigma_sermon-image">
              <img src="assets/img/holi/4.jpg" alt="holi">
            </div>
            <div class="sigma_box">
              <span class="subtitle">Dusseshra</span>
              <h4 class="title mb-0">
                <a href="holi-details">Durga Puja</a>
              </h4>
              <ul class="sigma_sermon-info mb-0">
                <li>
                  <i class="far fa-user"></i>
                  Message From
                  <a href="#" class="ms-2"><u>Yeshvant Parsad</u></a>
                </li>
                <li  class="mt-0 ms-4">
                  <i class="far fa-calendar-check"></i>
                  Aug 12, 2022
                </li>
              </ul>
              <ul class="sigma_sm square">
                <li>
                  <a href="#">
                    <i class="fas fa-music"></i>
                  </a>
                </li>
                <li>
                  <a href="#">
                    <i class="fab fa-youtube"></i>
                  </a>
                </li>
                <li>
                  <a href="#">
                    <i class="far fa-file-pdf"></i>
                  </a>
                </li>
                <li>
                  <a href="#">
                    <i class="fas fa-share-alt"></i>
                  </a>
                </li>
              </ul>
              </div>
            </div>
        </div>
        <div class="col-lg-6">
          <div class="sigma_sermon-box">
            <div class="sigma_sermon-image">
              <img src="assets/img/holi/5.jpg" alt="holi">
            </div>
            <div class="sigma_box">
              <span class="subtitle">RamNavmi</span>
              <h4 class="title mb-0">
                <a href="holi-details">Janmashtami</a>
              </h4>
              <ul class="sigma_sermon-info mb-0">
                <li>
                  <i class="far fa-user"></i>
                  Message From
                  <a href="#" class="ms-2"><u>Yeshvant Parsad</u></a>
                </li>
                <li  class="mt-0 ms-4">
                  <i class="far fa-calendar-check"></i>
                  Aug 12, 2022
                </li>
              </ul>
              <ul class="sigma_sm square">
                <li>
                  <a href="#">
                    <i class="fas fa-music"></i>
                  </a>
                </li>
                <li>
                  <a href="#">
                    <i class="fab fa-youtube"></i>
                  </a>
                </li>
                <li>
                  <a href="#">
                    <i class="far fa-file-pdf"></i>
                  </a>
                </li>
                <li>
                  <a href="#">
                    <i class="fas fa-share-alt"></i>
                  </a>
                </li>
              </ul>
              </div>
            </div>
        </div>
        <div class="col-lg-6">
          <div class="sigma_sermon-box">
            <div class="sigma_sermon-image">
              <img src="assets/img/holi/6.jpg" alt="holi">
            </div>
            <div class="sigma_box">
              <span class="subtitle">Basaant Panchami</span>
              <h4 class="title mb-0">
                <a href="holi-details">Basaant Panchami</a>
              </h4>
              <ul class="sigma_sermon-info mb-0">
                <li>
                  <i class="far fa-user"></i>
                  Message From
                  <a href="#" class="ms-2"><u>Yeshvant Parsad</u></a>
                </li>
                <li  class="mt-0 ms-4">
                  <i class="far fa-calendar-check"></i>
                  Aug 12, 2022
                </li>
              </ul>
              <ul class="sigma_sm square">
                <li>
                  <a href="#">
                    <i class="fas fa-music"></i>
                  </a>
                </li>
                <li>
                  <a href="#">
                    <i class="fab fa-youtube"></i>
                  </a>
                </li>
                <li>
                  <a href="#">
                    <i class="far fa-file-pdf"></i>
                  </a>
                </li>
                <li>
                  <a href="#">
                    <i class="fas fa-share-alt"></i>
                  </a>
                </li>
              </ul>
              </div>
            </div>
        </div>
      </div>
      <!-- Pagination Start -->
          <ul class="pagination mb-0">
            <li class="page-item"><a class="page-link" href="#"> <i class="far fa-chevron-left"></i> </a></li>
            <li class="page-item"><a class="page-link" href="#">1</a></li>
            <li class="page-item active">
              <a class="page-link" href="#">2 <span class="sr-only">(current)</span></a>
            </li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item"><a class="page-link" href="#"> <i class="far fa-chevron-right"></i> </a></li>
          </ul>
          <!-- Pagination End -->
    </div>
  </div>
  <!-- Services End -->

  <!-- Clients Start -->
  <div class="section section-padding primary-bg pattern-map">
    <div class="container-fluid">
      <div class="row">

        <div class="col-lg-7">
          <div class="row">
            <div class="col-lg-4">
              <div class="sigma_client">
                <img src="assets/img/clients/1.png" alt="client">
              </div>
            </div>
            <div class="col-lg-4">
              <div class="sigma_client">
                <img src="assets/img/clients/2.png" alt="client">
              </div>
            </div>
            <div class="col-lg-4">
              <div class="sigma_client">
                <img src="assets/img/clients/3.png" alt="client">
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-5">
          <div class="row">
            <div class="col-lg-6">
              <div class="sigma_client">
                <img src="assets/img/clients/4.png" alt="client">
              </div>
            </div>
            <div class="col-lg-6">
              <div class="sigma_client">
                <img src="assets/img/clients/5.png" alt="client">
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
  <!-- Clients End -->

  {{>FrontEnd/footer}}
  {{>FrontEnd/footerLink}}
</body>
</html>
