<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  {{>FrontEnd/headerLink}}
</head>

<body>
  {{>FrontEnd/navbar}}

  <!-- partial -->
  <div class="sigma_subheader dark-overlay dark-overlay-2" style="background-image: url(assets/img/subheader.jpg)">

    <div class="container">
      <div class="sigma_subheader-inner">
        <div class="sigma_subheader-text">
          <h1>Pandit ji Details</h1>
        </div>
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a class="btn-link" href="/">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">Pandit Ji Details</li>
          </ol>
        </nav>
      </div>
    </div>

  </div>
  <!-- partial -->

  <!-- Post Content Start -->
  <div class="section sigma_post-single">
    <div class="container">

      <div class="row">

        <div class="col-12">

            <div class="entry-content">
              <div class="sigma_volunteer-detail mb-5">
                <div class="row">
                  <div class="col-lg-5">
                    <div class="sigma_member-image style-1">
                      <img src="assets/img/volunteers/pastor.jpg" class="mb-0" alt="volunteer">
                    </div>
                  </div>
                  <div class="col-lg-7">
                    <div class="sigma_volunteer-detail-inner mt-5 mt-lg-0 ps-0 ps-lg-4">
                      <h3 class="sigma_member-name">Durgesh Shukla</h3>
                      <span class="sigma_volunteer-detail-category">Pandit</span>
                      <ul class="sigma_volunteer-detail-info">
                        <li>
                          <i class="fas fa-phone"></i>
                          <span class="title">Phone:</span>8307892049
                        </li>
                        <li>
                          <i class="fas fa-envelope"></i>
                          <span class="title">Email:</span>durgeshshulla4414@gmail.com
                        </li>
                        <li>
                          <i class="fas fa-map-marker-alt"></i>
                          <span class="title">Address Info:</span>24 Fifth st., New York, US
                        </li>
                      </ul>
                      <ul class="sigma_volunteer-detail-info">
                        <li>
                          <i class="fab fa-facebook-f"></i>
                          <span class="title">Facebook:</span><a href="#"> www.facebook.com/Kathy</a>
                        </li>
                        <li>
                          <i class="fab fa-twitter"></i>
                          <span class="title">Twitter:</span><a href="#"> www.twitter.com/Kathy</a>
                        </li>
                        <li>
                          <i class="fab fa-instagram"></i>
                          <span class="title">Instagram:</span><a href="#"> www.instagram.com/Kathy</a>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
              <h4>About Durgesh Shukla</h4>
              <p>
                Our mission is to share the Good of Hinduism, Loving, Faith and Serving. People ask questions related to Hinduism. Temple is a place where Hindu worship our Bhagwan Ram, Shiva, Vishnu, Krishna etc.
                galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting Some Hindu teachers insist that believing in rebirth is necessary for living an ethical life. Their concern is that if there is no fear of karmic repercussions in future lifetimes.
              </p>
              <p>Temple is a place where Hindu worship our Bhagwan Ram, Shiva, Vishnu, Krishna etc. Proin eget tortor industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type, People ask questions related to Hinduism. specimen book.Some Hindu teachers insist that believing in rebirth is necessary for living an ethical life. Their concern is that if there is no fear of karmic repercussions in future lifetimes,</p>
              <hr>
              <h4>Skills</h4>
          <div class="row">
            <div class="col-lg-6">
              <p>
                Temple is a place where Hindu worship our Bhagwan Ram, Shiva, Vishnu, Krishna etc. Proin eget tortor industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type, People ask questions related to Hinduism. specimen book.people would likewise be unethical. Our mission is to share the Good of Hinduism, Loving, Faith and Serving. People ask questions related to Hinduism. to make a type specimen book.I find this argument as sad as the argument that without a belief in God people would likewise be unethical.
              </p>
              <p class="m-0">Some Hindu teachers insist that believing in rebirth is necessary for living an ethical life. Their concern is that if there is no fear of karmic repercussions in future lifetimes</p>
            </div>
            <div class="col-lg-6">
              <div class="mt-4 mt-lg-0">
                <div class="sigma_progress">
                  <h6>Charity</h6>
                  <span class="sigma_progress-count">84%</span>
                  <div class="progress">
                    <div class="progress-bar" role="progressbar" aria-valuenow="84" aria-valuemin="0" aria-valuemax="100">
                      <span></span>
                      <span></span>
                    </div>
                  </div>
                </div>
                <div class="sigma_progress with-secondary">
                  <h6>Helped</h6>
                  <span class="sigma_progress-count">70%</span>
                  <div class="progress">
                    <div class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100">
                      <span></span>
                      <span></span>
                    </div>
                  </div>
                </div>
                <div class="sigma_progress">
                  <h6>Donations</h6>
                  <span class="sigma_progress-count">85%</span>
                  <div class="progress">
                    <div class="progress-bar" role="progressbar" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100">
                      <span></span>
                      <span></span>
                    </div>
                  </div>
                </div>
                <div class="sigma_progress">
                  <h6>Food</h6>
                  <span class="sigma_progress-count">92%</span>
                  <div class="progress">
                    <div class="progress-bar" role="progressbar" aria-valuenow="92" aria-valuemin="0" aria-valuemax="100">
                      <span></span>
                      <span></span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>

    </div>
  </div>
</div>
  <!-- Post Content End -->

  <!-- Form Start -->
  <div class="section dark-overlay dark-overlay-3 bg-cover bg-center bg-norepeat" style="background-image: url(assets/img/bg1.jpg)">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-6 mb-lg-30">
          <form method="post">
            <div class="form-row">
              <div class="col-lg-6">
                <div class="form-group">
                  <i class="far fa-user"></i>
                  <input type="text" class="form-control transparent" placeholder="First Name" name="fname" value="">
                </div>
              </div>
              <div class="col-lg-6">
                <div class="form-group">
                  <i class="far fa-user"></i>
                  <input type="text" class="form-control transparent" placeholder="Last Name" name="lname" value="">
                </div>
              </div>
              <div class="col-lg-6">
                <div class="form-group">
                  <i class="far fa-pencil"></i>
                  <input type="text" class="form-control transparent" placeholder="Subject" name="subject" value="">
                </div>
              </div>
              <div class="col-lg-6">
                <div class="form-group">
                  <i class="far fa-envelope"></i>
                  <input type="text" class="form-control transparent" placeholder="Email Address" name="email" value="">
                </div>
              </div>
              <div class="col-lg-12">
                <div class="form-group">
                  <textarea name="message" class="form-control transparent" placeholder="Enter Message" rows="4"></textarea>
                </div>
              </div>
              <div class="col-lg-12">
                <button type="submit" class="sigma_btn-custom d-block w-100" name="button"> Get a Quote <i class="far fa-arrow-right"></i> </button>
              </div>
            </div>
          </form>
        </div>
        <div class="col-lg-6">
          <div class="row">
            <div class="col-lg-6">
              <div class="sigma_client">
                <img src="assets/img/clients/1.png" alt="client">
              </div>
            </div>
            <div class="col-lg-6">
              <div class="sigma_client">
                <img src="assets/img/clients/2.png" alt="client">
              </div>
            </div>
            <div class="col-lg-6">
              <div class="sigma_client">
                <img src="assets/img/clients/3.png" alt="client">
              </div>
            </div>
            <div class="col-lg-6">
              <div class="sigma_client">
                <img src="assets/img/clients/4.png" alt="client">
              </div>
            </div>
            <div class="col-lg-6">
              <div class="sigma_client">
                <img src="assets/img/clients/5.png" alt="client">
              </div>
            </div>
            <div class="col-lg-6">
              <div class="sigma_client">
                <img src="assets/img/clients/6.png" alt="client">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Form End -->

   {{>FrontEnd/footer}}
   {{>FrontEnd/footerLink}}

</body>
</html>
