<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  {{>FrontEnd/headerLink}}
</head>

<body>
  {{>FrontEnd/navbar}}

  <!-- partial -->
  <div class="sigma_subheader dark-overlay dark-overlay-2" style="background-image: url(assets/img/subheader.jpg)">

    <div class="container">
      <div class="sigma_subheader-inner">
        <div class="sigma_subheader-text">
          <h1>Service </h1>
        </div>
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a class="btn-link" href="/">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">Service </li>
          </ol>
        </nav>
      </div>
    </div>

  </div>
  <!-- partial -->

  <!-- holi Start -->
  <div class="section section-padding">
    <div class="container">
      <div class="row">

        <div class="col-lg-4 col-md-6">
          <div class="sigma_service-thumb">
            <img src="assets/img/service/5.jpg" alt="img">
            {{!-- <i class="flaticon-hindu"></i> --}}
          </div>
          <div class="sigma_service-body">
            <h5>Janam Kundali</h5>
            <p>A Janam Kundali, or birth chart, is a crucial astrological tool in Hindu culture, detailing the planetary
              positions at the time of one's birth. Pandit Ji, an expert astrologer, interprets this chart to reveal
              insights into an individual's personality, relationships, career, and life path. The chart encompasses 12
              houses, each representing specific aspects of life. Pandit Ji analyzes key elements such as the Ascendant,
              planetary positions, zodiac signs, and dasha periods to offer guidance on auspicious timings, potential
              challenges, and suitable life choices. The Janam Kundali serves as a valuable tool for self-discovery and
              informed decision-making. </p>
          </div>
        </div>

        <div class="col-lg-4 col-md-6">
          <div class="sigma_service-thumb">
            <img src="assets/img/service/6.jpg" alt="img">
            {{!-- <i class="flaticon-powder-1"></i> --}}
          </div>
          <div class="sigma_service-body">
            <h5>Hawan</h5>
            <p>Hawan, also known as Yajna or homa, is a sacred ritual in Hinduism performed by Pandit Ji. It involves
              the offering of various substances, such as ghee, grains, and herbs, into a consecrated fire while
              chanting Vedic mantras. The ritual is believed to purify the environment, invoke divine blessings, and
              create positive energies. Pandit Ji, as a skilled priest, conducts the Hawan with precision, following
              ancient scriptures and traditions. The ceremony is often performed on special occasions, festivals, and to
              seek spiritual well-being and harmony. </p>
          </div>
        </div>

        <div class="col-lg-4 col-md-6">
          <div class="sigma_service-thumb">
            <img src="assets/img/service/7.jpg" alt="img">
            {{!-- <i class="flaticon-hindu-2"></i> --}}
          </div>
          <div class="sigma_service-body">
            <h5>Kalsharp Shanti</h5>
            <p>Kalasarpa Yoga, also known as Kalasarpa Dosha, is an astrological phenomenon in Vedic astrology where all
              planets are positioned between Rahu and Ketu, the lunar nodes. Kalasarpa Yoga is believed to bring
              challenges and obstacles in one's life. Kalsharp Shanti is a remedial ritual performed by Pandit Ji to
              alleviate the effects of this yoga. It involves specific prayers, mantras, and rituals aimed at pacifying
              Rahu and Ketu, minimizing their negative influences, and restoring balance in the individual's life.
              Pandit Ji conducts the Kalsharp Shanti with the intention of bringing peace, prosperity, and positive
              energy to the person undergoing the ritual. </p>
          </div>
        </div>

        <div class="col-lg-4 col-md-6">
          <div class="sigma_service-thumb">
            <img src="assets/img/service/8.jpg" alt="img">
            {{!-- <i class="flaticon-pooja"></i> --}}
          </div>
          <div class="sigma_service-body">
            <h5>Satyanarayan Katha</h5>
            <p>Satyanarayan Katha is a sacred Hindu narrative centered around Lord Satyanarayan, a benevolent form of
              Lord Vishnu. Pandit Ji, a knowledgeable priest, performs the Katha, which involves storytelling about the
              divine exploits of Lord Satyanarayan. The narrative emphasizes devotion, righteousness, and the importance
              of performing the Satyanarayan Puja. The ceremony is often conducted to seek blessings, prosperity, and
              well-being for individuals and their families. Pandit Ji guides devotees through the ritual, which
              typically includes prayers, hymns, and the offering of prasad (sacred food). The Satyanarayan Katha is a
              revered tradition, fostering spiritual growth and a sense of divine grace in the lives of believers. </p>
          </div>
        </div>

        <div class="col-lg-4 col-md-6">
          <div class="sigma_service-thumb">
            <img src="assets/img/service/9.jpg" alt="img">
            {{!-- <i class="flaticon-arti"></i> --}}
          </div>
          <div class="sigma_service-body">
            <h5>Rudrabhishek</h5>
            <p>Rudrabhishek is a sacred Hindu ritual performed by Pandit Ji to worship Lord Shiva. In this ceremony, the
              Rudra Suktha, a hymn dedicated to Lord Shiva, is recited while offering various items like water, milk,
              honey, and bilva leaves to the Shiva Linga. This ritual is believed to invoke the blessings of Lord Shiva
              for peace, prosperity, and spiritual well-being. It is a powerful form of worship, emphasizing devotion
              and seeking divine grace. Pandit Ji conducts the Rudrabhishek with reverence, creating a spiritually
              charged atmosphere for the devotees seeking the divine blessings of Lord Shiva. </p>
          </div>
        </div>

        <div class="col-lg-4 col-md-6">
          <div class="sigma_service-thumb">
            <img src="assets/img/service/10.jpg" alt="img">
          </div>
          <div class="sigma_service-body">
            <h5>Shree Durga Saptshati pat</h5>
            <p>Shree Durga Saptshati Path is a revered Hindu scripture comprising 700 verses dedicated to Goddess Durga.
              Pandit Ji performs this sacred recitation, invoking the divine energy of the goddess to seek her blessings
              for protection, strength, and victory over obstacles. The path narrates the epic battles between the
              goddess and the demon Mahishasura, symbolizing the triumph of good over evil. Through the recitation,
              Pandit Ji channels spiritual energy, fostering a sense of devotion and invoking the divine grace of
              Goddess Durga for the well-being and success of the devotees. </p>
          </div>
        </div>

        <div class="col-lg-4 col-md-6">
          <div class="sigma_service-thumb">
            <img src="assets/img/service/10.jpg" alt="img">
          </div>
          <div class="sigma_service-body">
            <h5>Mahaamrtyunjat jaap</h5>
            <p>The Maha Mrityunjaya Jaap is a powerful Vedic mantra dedicated to Lord Shiva, known for its protective
              and healing properties. Pandit Ji, as a knowledgeable priest, performs this sacred chant to invoke divine
              blessings and seek protection from untimely death and ailments. The mantra is recited with devotion, and
              its vibrations are believed to create a shield against negative energies, promoting physical and spiritual
              well-being. Pandit Ji, through the Maha Mrityunjaya Jaap, facilitates a spiritual connection and invokes
              the divine grace of Lord Shiva for the well-being and longevity of individuals. </p>
          </div>
        </div>

        <div class="col-lg-4 col-md-6">
          <div class="sigma_service-thumb">
            <img src="assets/img/service/10.jpg" alt="img">
          </div>
          <div class="sigma_service-body">
            <h5>Sundarkand paath</h5>
            <p>Sundarkand Path is a sacred recitation from the Hindu epic, Ramayana, specifically focusing on the
              'Sundarkand' – the fifth book of the Ramayana. Pandit Ji, as a revered spiritual guide, leads devotees
              through the recitation, emphasizing the journey of Lord Hanuman to Lanka in search of Sita, Lord Rama's
              wife. The path is known for its profound impact on spiritual well-being, invoking blessings, courage, and
              divine grace. It is a powerful practice believed to alleviate obstacles, grant protection, and foster
              devotion to Lord Hanuman and Lord Rama. Devotees seek Pandit Ji's guidance to perform the Sundarkand Path
              for spiritual upliftment and to seek divine intervention in their lives.</p>
          </div>
        </div>

        <div class="col-lg-4 col-md-6">
          <div class="sigma_service-thumb">
            <img src="assets/img/service/10.jpg" alt="img">
          </div>
          <div class="sigma_service-body">
            <h5>Ramayan paath</h5>
            <p>Ramayan Paath is a sacred practice in Hinduism where the epic narrative of the Ramayana is recited or
              read aloud. Pandit Ji, as a knowledgeable priest, leads and guides devotees through this spiritual
              journey. The Ramayana, attributed to the sage Valmiki, narrates the life and virtues of Lord Rama, his
              wife Sita, and his loyal companion Hanuman. The recitation of Ramayan Paath is believed to bring spiritual
              blessings, instill moral values, and foster devotion. It is a revered tradition that connects individuals
              with the divine and imparts timeless wisdom from the epic.</p>
          </div>
        </div>

        <div class="col-lg-4 col-md-6">
          <div class="sigma_service-thumb">
            <img src="assets/img/service/10.jpg" alt="img">
          </div>
          <div class="sigma_service-body">
            <h5>Mool Shanti</h5>
            <p>Mool Shanti is a Hindu ritual performed by Pandit Ji to mitigate the adverse effects of a person being
              born under the Mool Nakshatra (constellation). This ceremony involves prayers, mantras, and offerings to
              appease the deity associated with the Nakshatra, seeking blessings for the individual's well-being and
              protection from potential challenges. Mool Shanti is believed to bring harmony and balance to one's life,
              addressing any negative influences associated with the Mool Nakshatra at the time of birth. Pandit Ji
              guides and conducts this ritual to ensure a positive and auspicious future for the individual.</p>
          </div>
        </div>

        <div class="col-lg-4 col-md-6">
          <div class="sigma_service-thumb">
            <img src="assets/img/service/10.jpg" alt="img">
          </div>
          <div class="sigma_service-body">
            <h5>Pitr Dosh Shanti</h5>
            <p>Pitr Dosh Shanti is a Hindu ritual performed by Pandit Ji to mitigate the effects of Pitr Dosh, a
              condition believed to arise when ancestors are dissatisfied. This dissatisfaction may lead to challenges
              in one's life. Pandit Ji conducts specific prayers, offerings, and rituals to appease the ancestors,
              seeking their blessings and forgiveness. Pitr Dosh Shanti is aimed at restoring harmony in the family and
              ensuring the well-being of the individual by resolving ancestral issues. The ritual involves recitation of
              sacred texts, homa (fire ceremony), and other Vedic practices to pacify the departed souls and bring peace
              to the family.</p>
          </div>
        </div>

        <div class="col-lg-4 col-md-6">
          <div class="sigma_service-thumb">
            <img src="assets/img/service/10.jpg" alt="img">
          </div>
          <div class="sigma_service-body">
            <h5>Mangalik Dosh Shanti</h5>
            <p>Mangalik Dosh Shanti is a Hindu ritual performed by Pandit Ji to mitigate the effects of Mangal Dosha in
              a person's birth chart. Mangal Dosha occurs when the planet Mars (Mangal) is placed unfavorably in the
              chart, leading to potential challenges in marriage and relationships. The ritual involves specific
              prayers, mantras, and offerings to appease Mars and neutralize its negative influences. Pandit Ji guides
              the individual or couple through this ceremony, aiming to bring harmony and blessings to their marital
              life. Mangalik Dosh Shanti is a traditional practice believed to enhance the prospects of a blissful and
              prosperous marriage.</p>
          </div>
        </div>

        <div class="col-lg-4 col-md-6">
          <div class="sigma_service-thumb">
            <img src="assets/img/service/10.jpg" alt="img">
          </div>
          <div class="sigma_service-body">
            <h5>vivah</h5>
            <p>Vivah, meaning marriage in Hindi, is a sacred union celebrated in Hindu culture. Pandit Ji, a respected
              priest, plays a pivotal role in conducting the marriage ceremony. Drawing from Vedic traditions, Pandit Ji
              officiates the rituals, recites sacred mantras, and guides the couple through symbolic rites, symbolizing
              commitment, love, and unity. Vivah is not just a social contract but a spiritual bond, and Pandit Ji's
              blessings are believed to invoke divine harmony for a blissful married life.</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  {{>FrontEnd/footer}}
  {{>FrontEnd/footerLink}}

</body>

</html>