<!-- partial:partia/__mobile-nav.html -->
  <aside class="sigma_aside sigma_aside-left">

    <a class="navbar-brand" href="/"> <img src="assets/img/logo1.png" alt="logo"> </a>

    <!-- Menu -->
    <ul>
          <li class="menu-item"><a href="/">Home</a></li>
          <li class="menu-item"><a href="about-us">About </a></li>
          <li class="menu-item"><a href="blog">Blog</a></li>
          <li class="menu-item"> <a href="faq">FAQ</a> </li>
          <li class="menu-item "><a href="service">Service</a></li>
          <li class="menu-item menu-item-has-children">
            <a href="#">Gallery</a>
            <ul class="sub-menu">
            <li class="menu-item"> <a href="image">Image Gallery</a> </li>
            <li class="menu-item"> <a href="broadcast">Video Gallery</a> <li>
            </ul>
          </li>
        <li class="menu-item"><a href="contact">Contact</a></li>
    </ul>

  </aside>
  <div class="sigma_aside-overlay aside-trigger-left"></div>
  <!-- partial -->